<div class="title">
    <a href="/">
            <picture style="display: inline;">
                <source srcset="/ico/logo_w.png" media="(prefers-color-scheme: dark)">
                <img src="/ico/logo_b.png" alt="Logo" style="height: 4rem;">
            </picture>
        </a>
    
        <% if (typeof msg !== "undefined") { %>
        <p class="title-msg"><%= msg %></p>
        <% } %>
        
</div>
