    <a href="/" class="title">
        <picture>
            <source srcset="/ico/logo_w.svg" media="(prefers-color-scheme: dark)">
            <img src="/ico/logo_b.svg" alt="Logo">
        </picture>
    </a>

    <% if (typeof msg !== "undefined") { %>
    <p class="title-msg"><%= msg %></p>
    <% } %>
    